<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <!--  Select2 JS Related-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Rapat')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/rapat/viewall-pengajuan}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">Mengubah Detail Pengajuan Rapat</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>

                    <form th:action="@{/rapat/ajuan/update}" th:object="${rapat}" method="POST">
                        <input type="hidden" th:field="*{uuid}" />
                        <input type="hidden" th:field="*{pic}" />
                        <input type="hidden" th:field="*{feedback}" />

                        <h6 class="font-weight-bold">
                            Nama Rapat</h6>
                        <input required class="form-control" type="text" placeholder="Nama Rapat" th:field="*{nama}"/>
                        <br>

                        <h6 class="font-weight-bold">
                            Status Rapat</h6>
                        <input readonly class="form-control font-weight-bold" type="text" th:field="*{status}" />
                        <br>

                        <h6 class="font-weight-bold">
                            Link Rapat</h6>
                        <input required class="form-control" type="url"
                               placeholder="Gunakan link dengan format 'https://<LINK>' atau 'http://<LINK>'"
                               th:field="*{link}"/>
                        <br>

                        <h6 class="font-weight-bold">
                            Waktu</h6>
                        <input required class="form-control" type="datetime-local" th:field="*{waktu}"/>
                        <br>

                        <table class="table">
                            <thead>
                            <th style="vertical-align: middle !important;">Peserta Rapat</th>
                            <th>
                                <button class="btn btn-primary" type="submit" name="addRowPeserta">Tambah Peserta</button>
                            </th>
                            </thead>
                            <tbody>
                            <tr th:each="peserta, iterationStatus1 : *{listPeserta}">
                                <td>
                                    <!--Tambah PIC sebagai Peserta-->
                                    <input th:if="${iterationStatus1.index == 0}" disabled class="form-control" type="text" th:placeholder="*{pic.nama + ' (' + pic.email + ')'}" />
                                    <input th:if="${iterationStatus1.index == 0}" type="hidden" th:field="*{listPeserta[__${iterationStatus1.index}__].uuid}" />

                                    <select th:unless="${iterationStatus1.index == 0}" name="uuid" th:field="*{listPeserta[__${iterationStatus1.index}__].uuid}"
                                            class="selection-peserta js-states form-control" style="width: 100% !important; height:100% !important;">
                                        <div th:each="pesertaEx, iterationStatus2 : ${listPesertaExisting}">
                                            <option th:value="${pesertaEx.uuid}" th:text="${pesertaEx.nama + ' (' + pesertaEx.email + ')'}"></option>
                                        </div>
                                    </select>
                                </td>
                                <td>
                                    <button disabled th:if="${iterationStatus1.index == 0}" th:value="${iterationStatus1.index}" class="btn btn-danger" type="submit" name="deleteRowPeserta">Hapus</button>
                                    <button th:unless="${iterationStatus1.index == 0}" th:value="${iterationStatus1.index}" class="btn btn-danger" type="submit" name="deleteRowPeserta">Hapus</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>

                        <div class="text-right">
                            <button class="btn btn-primary" type="submit" name="save">Simpan</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<!--Select Form Related-->
<script>
    $(document).ready(function() {
        $('.selection-peserta').select2({
          width: 'resolve',
		});
    });
</script>
</html>
