<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIJAWAH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
  <nav th:replace="fragments/fragment :: navbar('Ide Konten')"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">
            Penolakan Ide Konten</h2>
          <hr class="mt-3 mb-3"/>
          <br>
          <form th:action="@{/konten/penolakan/}+${konten.uuid}" th:object="${konten}" method="POST">

            <input type="hidden" th:field="*{uuid}"/>
            <input type="hidden" th:field="*{link}"/>
            <input type="hidden" th:field="*{caption}"/>
            <input type="hidden" th:field="*{tanggal_publish}"/>
            <input type="hidden" th:field="*{status}"/>
            <input type="hidden" th:field="*{instagram}"/>
            <input type="hidden" th:field="*{twitter}"/>
            <input type="hidden" th:field="*{whatsapp}"/>
            <input type="hidden" th:field="*{socmed}"/>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Nama Konten</label>
              <div class="col-sm-10">
                <input id="nama" readonly class="form-control-plaintext" name="nama"
                       th:value="${konten.nama}"/>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="exampleFormControlTextarea1">Feedback</label>
              <div class="col-sm-10">
                                <textarea class="form-control" placeholder="Alasan penolakan pengajuan rapat"
                                          id="exampleFormControlTextarea1" rows="3" th:field="*{feedback}"></textarea>
              </div>
            </div>
            <br>

            <div class="col text-right">
              <button class="btn btn-primary" type="submit">Simpan</button>
              <a class="btn btn-danger" th:href="@{/konten/viewall}">Batal</a>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>