<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        @media only screen and (max-width: 1000px) {
            .btn-text {
                display: none;
            }
        }





    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Ide Konten')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636;font-family: 'DM Serif Display';">
                        Daftar Ide Konten</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <div th:if="${role} == 'socmed'">
                        <a class="btn btn-light text-white font-weight-normal"
                           style="background-color: #D87818; border-radius: 15px;"
                           th:href="@{/konten/add}"><i class="fa-solid fa-plus"></i>Ajukan Ide Konten</a>
                    </div>
                    <br><br>
                    <div class="justify-content-center">
                        <table id="kontenTable" class="table table-hover">
                            <thead style="background-color: #D87818;">
                            <tr class="text-white text-left font-weight-bold  ">
                                <th>No</th>
                                <th>Nama</th>
                                <th>Jenis Sosial Media</th>
                                <th th:if="${role} == 'socmed'">Status</th>
                                <th>Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="konten, iterationStatus : ${listKonten}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${konten.nama}"></td>
                                <td>
                                    <a th:if="${konten.instagram} == true"
                                       title="instagram">
                                        <i class="fa fa-instagram"></i>
                                        <span class="btn-text"> Instagram</span>
                                        <span class="mr-3"></span>
                                    </a>
                                    <a th:if="${konten.whatsapp} == true"
                                       title="whatsapp">
                                        <i class="fa fa-whatsapp"></i>
                                        <span class="btn-text"> Whatsapp</span>
                                        <span class="mr-3"></span>
                                    </a>
                                    <a th:if="${konten.twitter} == true"
                                       title="twitter">
                                        <i class="fa fa-twitter"></i>
                                        <span class="btn-text"> Twitter</span>
                                    </a>
                                </td>
                                <td th:if="${role} == 'socmed'" th:text="${konten.status}"></td>

                                <td>
                                    <div class="d-flex justify-content-start">
                                        <div th:if="${konten.status} == 'Menunggu Persetujuan' and ${role} == 'ceo'">
                                            <a class="btn btn-success text-white font-weight-normal me-2"
                                               style="border-radius: 15px;"
                                               data-toggle="tooltip" title="Setujui"
                                               th:href="@{/konten/persetujuan/} + ${konten.uuid}"><i
                                                    class="fa-solid fa-check"></i><span
                                                    class="btn-text"> Setujui</span></a>
                                        </div>
                                        <div th:if="${konten.status} == 'Menunggu Persetujuan' and ${role} == 'ceo'">
                                            <a class="btn btn-danger text-white font-weight-normal me-2"
                                               style="border-radius: 15px;"
                                               data-toggle="tooltip" title="Tolak"
                                               th:href="@{/konten/penolakan/} + ${konten.uuid}"><i
                                                    class="fa-solid fa-xmark"></i><span
                                                    class="btn-text"> Tolak</span></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-primary text-white font-weight-normal me-2"
                                               style="border-radius: 15px;"
                                               data-toggle="tooltip" title="Detail"
                                               th:href="@{/konten/}+${konten.uuid}"><i
                                                    class="fa-solid fa-magnifying-glass"></i><span
                                                    class="btn-text"> Detail</span></a>
                                        </div>
                                        <div th:if="(${konten.status} == 'Ditolak' and ${role} == 'socmed')">
                                            <a class="btn btn-warning text-white font-weight-normal me-2"
                                               style="border-radius: 15px;"
                                               data-toggle="tooltip" title="Update"
                                               th:href="@{/konten/revisi/}+${konten.uuid}"><i
                                                    class="fa-solid fa-pen-to-square"></i><span
                                                    class="btn-text"> Revisi konten</span></a>
                                        </div>
                                        <div th:if="(${konten.status} == 'Disetujui' and ${role} == 'socmed')">
                                            <a class="btn btn-warning text-white font-weight-normal me-2"
                                               style="border-radius: 15px;"
                                               data-toggle="tooltip" title="Update"
                                               th:href="@{/konten/ubah/}+${konten.uuid}"><i
                                                    class="fa-solid fa-pen-to-square"></i><span
                                                    class="btn-text"> Ubah status</span></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</div>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Datatable Related -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script>
    $(document).ready(function () {
        $('#kontenTable').DataTable({
            responsive: true,
        });
    });





</script>
</html>
