<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        @media only screen and (max-width: 1000px) {
            .btn-text {
                display: none;
            }
        }

    </style>
</head>

<body style="background-color: rgb(255, 240, 216); font-family: 'Raleway', sans-serif;">
<nav th:replace="fragments/fragment :: navbar('Ide Konten')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <a class="btn btn-light text-white font-weight-normal"
                   style="background-color: #D87818; border-radius: 15px;"
                   th:href="@{/konten/viewall}"><i class="fa-solid fa-arrow-left-long"></i> Back </a>
                <br>
                <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display'">Detail
                    Konten</h2>
                <hr class="mt-3 mb-3"/>
                <br>
                <div class="row justify-content-center">
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Nama Konten</h5>
                        <h6 th:text="${konten.nama}"></h6>
                    </div>
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Rencana Tanggal Publish</h5>
                        <h6 th:text="${#temporals.format(konten.tanggal_publish,'d MMMM yyyy HH:mm a')}"></h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Caption</h5>
                        <h6 th:text="${konten.caption}"></h6>
                    </div>
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Jenis Sosial Media</h5>
                        <h6>
                            <h6 th:if="${konten.instagram} == true"
                                title="instagram">
                                <i class="fa fa-instagram"></i>
                                <span class="btn-text"> Instagram</span>
                                <span class="mr-3"></span>
                            </h6>
                            <h6 th:if="${konten.whatsapp} == true"
                                title="whatsapp">
                                <i class="fa fa-whatsapp"></i>
                                <span class="btn-text"> Whatsapp</span>
                                <span class="mr-3"></span>
                            </h6>
                            <h6 th:if="${konten.twitter} == true"
                                title="twitter">
                                <i class="fa fa-twitter"></i>
                                <span class="btn-text"> Twitter</span>
                            </h6>
                        </h6>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Status</h5>
                        <h6 th:text="${konten.status}"></h6>
                    </div>
                    <div class="col">
                        <h5 class="font-weight-bold" style="color:#f29927;">Link Konten</h5>
                        <h6 th:text="${konten.link}"></h6>
                    </div>
                </div>
                <div class="row justify-content-center" th:if="${konten.status == 'Ditolak'}" >
                    <div class="col">
                        <h5 class=" font-weight-bold" style="color:#f29927;">Feedback</h5>
                        <h6 th:text="${konten.feedback}"></h6>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Datatable Related -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>

</html>
