<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Daftar Pekerjaan')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">
                        Menambahkan Daftar Pekerjaan</h2>
                    <br>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <form th:action="@{/pekerjaan/add}" th:object="${pekerjaan}" method="POST">

                        <h6 class="font-weight-bold">
                            Nama Pekerjaan</h6>
                        <input required class="form-control" type="text" placeholder="Masukkan nama pekerjaan" th:field="*{nama}"/>
                        <br>

                        <label for="exampleFormControlTextarea1" class="font-weight-bold">Deskripsi Pekerjaan</label>
                        <div>
                                <textarea class="form-control" placeholder="Masukkan deskripsi pekerjaan"
                                          id="exampleFormControlTextarea1" rows="3" th:field="*{deskripsi}"></textarea>
                        </div>
                        <br>

                        <h6 class="font-weight-bold">
                            Tenggat Waktu</h6>
                        <input required class="form-control" type="datetime-local" th:field="*{deadline}"/>
                        <br>

                        <h6 class="font-weight-bold">
                            Status </h6>
                        <select th:field="*{status}"
                                required class="form-control">
                            <option th:value="0" th:text="Todo"></option>
                            <option th:value="1" th:text="Doing"></option>
                            <option th:value="2" th:text="Done"></option>
                        </select>
                        <br>

                        <h6 class="font-weight-bold">
                            Karyawan </h6>
                        <select name="nama karyawan" th:field="*{assignee}"
                                required class="form-control">
                            <div th:each="karyawan, iterationStatus : ${listKaryawan}">
                                <option th:value="${karyawan.uuid}"
                                        th:text="${karyawan.nama}"></option>
                            </div>
                        </select>
                        <br>

                        <div class="text-right">
                            <button class="btn btn-primary" type="submit" name="save">Tambah Pekerjaan</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>