<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
<body>


<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Daftar Pekerjaan')"></nav>

    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 class="text-center font-weight-bold"
                        style="color: #363636; font-family: 'DM Serif Display', serif;">Mengubah Status Pekerjaan</h2>
                    <br>

                    <form th:action="@{/pekerjaan/update/} + ${pekerjaan.uuid}" th:object="${pekerjaan}" method="POST">
                        <input type="hidden" th:field="*{uuid}" />
                        <input type="hidden" th:field="*{nama}" />
                        <input type="hidden" th:field="*{deskripsi}" />
                        <input type="hidden" th:field="*{deadline}" />
                        <input type="hidden" th:field="*{assignee}" />

                        <h6 class="font-weight-bold">
                            Status </h6>
                        <select th:field="*{status}"
                             required class="form-control">
                            <option th:value="0" th:text="Todo"></option>
                            <option th:value="1" th:text="Doing"></option>
                            <option th:value="2" th:text="Done"></option>
                        </select>
                        <br><br>

                        <div class="col text-right" style="font-family: 'Raleway', sans-serif;">
                            <button class="btn btn-primary" type="submit" name="save">Ubah Status</button>
                            <a class="btn btn-danger" href="/pekerjaan/view-all">Batal</a>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>