<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        @media only screen and (max-width: 1000px) {
            .btn-text {
                display: none;
            }
        }


    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Daftar Pekerjaan')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">
                        Daftar Pekerjaan</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div th:if="${role} == 'ceo'">
                        <a class="btn btn-light text-white font-weight-normal"
                           style="background-color: #D87818; border-radius: 15px;"
                           th:href="@{/pekerjaan/add}"><i class="fa-solid fa-plus"></i> Tambah Pekerjaan</a>
                    </div>
                    <br><br>
                    <div class="justify-content-center">
                        <table id="pekerjaanTable" class="table table-hover">
                            <thead style="background-color: #D87818;">
                            <tr class="text-white font-weight-bold ">
                                <th>No</th>
                                <th>Nama Tugas</th>
                                <th>Deadline</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="pekerjaan, iterationStatus : ${listPekerjaan}"
                                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${pekerjaan.nama}"></td>
                                <td th:text="${#temporals.format(pekerjaan.deadline, 'dd MMMM yyyy HH:mm')}"></td>
                                <td th:if="${pekerjaan.status} == 0">To-do</td>
                                <td th:if="${pekerjaan.status} == 1">Doing</td>
                                <td th:if="${pekerjaan.status} == 2">Done</td>
                                <td class="d-flex justify-content-start">
                                    <div>
                                        <!--URL set-->
                                        <a class="btn btn-warning text-white font-weight-normal me-1"
                                           style="border-radius: 15px;"
                                           data-toggle="tooltip" title="Update Status"
                                           th:href="@{/pekerjaan/update/}+${pekerjaan.uuid}"><i
                                                class="fa-solid fa-pen-to-square"></i><span
                                                class="btn-text"> Ubah</span></a>

                                    </div>
                                    <div>
                                        <!--URL not set-->
                                        <a class="btn btn-primary text-white font-weight-normal me-1"
                                           style="border-radius: 15px;"
                                           data-toggle="tooltip" title="Detail"
                                           th:href="@{/pekerjaan/}+${pekerjaan.uuid}"><i class="fa-solid fa-magnifying-glass"></i><span
                                                class="btn-text"> Detail</span></a>
                                    </div>
                                    <div>
                                        <!-- Button trigger modal -->
                                        <a th:if="${pekerjaan.status} == 0 and ${role} == 'ceo'"
                                           type="button" data-bs-toggle="modal"
                                           th:attr="data-bs-target='#'+${pekerjaan.uuid}"
                                           class="btn btn-danger text-white font-weight-normal me-1"
                                           style="border-radius: 15px;"
                                           data-toggle="tooltip" title="Cancel"
                                           th:href="@{/}"><i class="fa-solid fa-trash"></i><span
                                                class="btn-text"> Hapus</span></a>

                                        <!-- Modal -->
                                        <div class="modal fade" th:attr="id=${pekerjaan.uuid}" data-bs-backdrop="static"
                                             data-bs-keyboard="false" tabindex="-1"
                                             aria-labelledby="staticBackdropLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Hapus Penugasan
                                                            Pekerjaan</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Anda yakin ingin menghapus data pekerjaan ini ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Batal
                                                        </button>
                                                        <a type="button" class="btn btn-primary"
                                                           th:href="@{/pekerjaan/delete/}+${pekerjaan.uuid}">Hapus
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Datatable Related -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script>
    $(document).ready(function () {
        $('#pekerjaanTable').DataTable({
            responsive: true,
        });
    });


</script>
</html>