<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIJAWAH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
  <nav th:replace="fragments/fragment :: navbar('Manajemen User')"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <a class="btn btn-light text-white font-weight-normal"
             style="background-color: #D87818; border-radius: 15px;"
             th:href="@{/user/view-all}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
          <br>
          <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">Mengubah Data Pengguna</h2>
          <hr class="mt-3 mb-3"/>
          <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
          <form th:action="@{/user/update}" th:object="${user}" method="POST">
            <input type="hidden" th:field="*{isSso}" />
            <input type="hidden" th:field="*{uuid}" />
            <input type="hidden" th:field="*{password}" />
            <input type="hidden" th:field="*{role}" />

            <div class="form-group row">
              <h6 class="col-sm-2 col-form-label font-weight-bold">
                Username</h6>
              <div class="col-sm-8">
                <input readonly class="form-control-plaintext" type="text" placeholder="Username" th:field="*{username}"/>
              </div>
            </div>

            <div class="form-group row">
              <h6 class="col-sm-2 col-form-label font-weight-bold">
                Nama</h6>
              <div class="col-sm-8">
                <input required class="form-control" type="text" placeholder="Nama" th:field="*{nama}"/>
              </div>
            </div>

            <div class="form-group row">
              <h6 class="col-sm-2 col-form-label font-weight-bold">
                Email</h6>
              <div class="col-sm-8">
                <input required class="form-control" type="email" placeholder="Email" th:field="*{email}"/>
              </div>
            </div>

            <div class="text-right">
              <a type="button" data-bs-toggle="modal" data-bs-target="#modalUpdatePassword" class="btn btn-secondary me-2">Ubah Password</a>
              <button class="btn btn-primary ml-2" type="submit" name="save">Simpan</button>

              <!-- Modal -->
              <div class="modal fade" id="modalUpdatePassword" data-bs-backdrop="static"
                   data-bs-keyboard="false" tabindex="-1"
                   aria-labelledby="staticBackdropLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Ubah Password</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-left">Anda yakin ingin mengubah password user ini ?</div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary"
                              data-bs-dismiss="modal">Batal
                      </button>
                      <a class="btn btn-warning " th:href="@{/user/update-password/} + ${user.uuid}">Ubah Password</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
</html>
