<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Manajemen User')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/user/update/} + ${uuid}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">Mengubah Password Pengguna</h2>
                    <hr class="mt-3 mb-3"/>

                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <form th:action="@{/user/update-password}" method="POST">
                        <div class="form-group row">
                            <h6 class="col-sm-2 col-form-label font-weight-bold">
                                Email</h6>
                            <div class="col-sm-8">
                                <input readonly class="form-control-plaintext" type="email" placeholder="Email" id="email" name="email" th:value="${email}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <h6 class="col-sm-2 col-form-label font-weight-bold">
                                Password</h6>
                            <div class="col-sm-8">
                                <input required class="form-control" type="password" placeholder="Masukkan password minimal 8 karakter dengan kombinasi huruf dan angka" id="password" name="password"/>
                            </div>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary text-white font-weight-normal" type="submit" name="savePassword">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>