<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Manajemen User')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/user/profil}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">
                        Ubah Password</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <form th:action="@{/user/ubah-password}" method="POST">
                        <br>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password Lama</label>
                            <div class="col">
                                <input required type="password" class="form-control" placeholder="Masukkan password lama" name="passwordLama">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Password Baru</label>
                            <div class="col">
                                <input required type="password" class="form-control" placeholder="Masukkan password baru" name="passwordBaru">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Konfirmasi Password</label>
                            <div class="col">
                                <input required type="password" class="form-control" placeholder="Masukkan konfirmasi password baru" name="konfirmasi">
                            </div>
                        </div>
                        <br>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" name="save">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/fragment :: footer"></footer>
</body>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
</html>
