<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8" />
  <title>Chart</title>
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
  />

  <script
          src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"
  ></script>
  <script
          type="text/javascript"
          charset="utf8"
          src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
  ></script>
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
          integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  ></script>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
  <style>
    @media only screen and (max-width: 992px) {
      .chart-container {
        margin-left:-5vw;
        position: relative;
      }
    }
  </style>
</head>
<body style="font-family: 'Raleway', sans-serif; background-color: rgb(255, 240, 216);">
<nav th:replace="fragments/fragment :: navbar('Chart')"></nav>
<div class="container" sec:authorize="isAuthenticated()">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="m-4">
        <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display'";>Penjualan Produk</h2>
        <h6 th:if="${pelanggan}" th:text="'Pelanggan: ' + ${pelanggan}"></h6>
        <hr class="mt-3 mb-3"/>
          <div
                class="chart-container"
                style="position: relative; width: 60vw; padding: 10px;"
        >
            <h6 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display'">Kuantitas per Produk</h6>
          <canvas id="myChart"></canvas>
        </div><br>
        <div class="chart-container" style="position: relative; width: 60vw; padding: 10px;">
          <h6 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display'">Pendapatan per Produk</h6>
          <canvas id="myChartPendapatan"></canvas>
        </div>
      </div>
      <div>
        <form th:action="@{/chart/generate}" method="POST">
          <h6 class="font-weight-bold">
            Generate chart berdasarkan pelanggan</h6>
          <select field="pelangganFilter" required name="uuid"
                  class="form-control" style="width: 95%">

            <option th:each="pelanggan: ${listPelanggan}" th:value="${pelanggan.uuid}" th:text="${pelanggan.nama}">
            </option>
          </select>
          <br>
          <button style="background-color: #D87818;" class="btn btn-primary" type="submit" name="save">Generate Chart</button>
        </form>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
<script th:inline="javascript">
  /*<![CDATA[*/

  var list = /*[[${listProduk}]]*/ "default";
  // console.log(list);

  /*]]>*/
  /*<![CDATA[*/

  var dataProduk = /*[[${listData}]]*/ "default";
  console.log(dataProduk);

  /*]]>*/
  /*<![CDATA[*/

  var dataPemasukanProduk = /*[[${listDataPendapatan}]]*/ "default";
  // console.log(dataObat);

  /*]]>*/
  const labels = list;
  let max = 0;
  for (let i = 0; i < dataProduk.length; i++){
    if (dataProduk.at(i)> max){
      max = dataProduk.at(i);
    }
  }
  while (max %10 != 0){
    max+=1;
  }
  const data = {
    labels: labels,
    datasets: [
      {
        label: "Jumlah produk terjual",
        data: dataProduk,
        backgroundColor: [
          "rgba(255, 99, 132, 0.2)",
          "rgba(255, 159, 64, 0.2)",
          "rgba(255, 205, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(153, 102, 255, 0.2)",
        ],
        borderColor:
          '#850101'
        ,
        borderWidth: 1,
      },
    ],
  };
  const data2 = {
    labels: labels,
    datasets: [
      {
        label: "Pendapatan produk terjual",
        data: dataPemasukanProduk,
        backgroundColor: [
          "rgba(255, 99, 132, 0.2)",
          "rgba(255, 159, 64, 0.2)",
          "rgba(255, 205, 86, 0.2)",
          "rgba(75, 192, 192, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(153, 102, 255, 0.2)",
        ],
        borderColor: [
          "rgb(255, 99, 132)",
          "rgb(255, 159, 64)",
          "rgb(255, 205, 86)",
          "rgb(75, 192, 192)",
          "rgb(54, 162, 235)",
          "rgb(153, 102, 255)",
        ],
        borderWidth: 1,
      },
    ],
  };
  const config = {
    type: "bar",
    data: data,
    options: {
      scales: {
        x : {
          beforeUpdate(axis) {
            const labels = axis.chart.data.labels;
            for (let i=0; i<labels.length; i++) {
              const lbl = labels[i];
              if (typeof lbl === 'string' && lbl.length > 20) {
                labels[i] = lbl.substring(0, 20) + "..."; // cutting
              }
            }
          }
        },
        yAxes: [{
          ticks: {
            stepSize: (max > 10) ? max/10 : 1,
          }
        }],},
    },
  };
  const config2 = {
    type: "bar",
    data: data2,
    options: {
      scales: {
        x : {
          beforeUpdate(axis) {
            const labels = axis.chart.data.labels;
            for (let i=0; i<labels.length; i++) {
              const lbl = labels[i];
              if (typeof lbl === 'string' && lbl.length > 20) {
                labels[i] = lbl.substring(0, 20) + "..."; // cutting
              }
            }
          }
        },
        y: {
          beginAtZero: true,
          callback: function(value) {if (value % 1 === 0) {return value;}}
        },
      },
    },
  };
  const myChart = new Chart(document.getElementById("myChart"), config);
  const myChart2 = new Chart(
          document.getElementById("myChartPendapatan"),
          config2
  );
</script>
</body>
</html>
