<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring_security">
<head>
    <meta charset="UTF-8">
    <title>View Course</title>
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    </head>

    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous">
        </script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/papper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:fragment="navbar (onevar)" class="navbar navbar-expand-lg navbar-light px-5 py-3"
     style="background-color:#FFFFFF; font-family: 'Raleway', sans-serif;">
    <!-- Just an image -->

    <a class="navbar-brand" href="#">
        <img src="https://www.linkpicture.com/q/Logo-Gold-jawah-final.png" width="50" height="50" alt="">
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded=" false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" th:classappend="${onevar == 'Home'} ? active">
                <div th:if="${onevar=='Home'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/}">Home</a>
                </div>
                <div th:unless="${onevar=='Home'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/}">Home</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Manajemen User'} ? active"
                sec:authorize="hasAuthority('admin')">
                <div th:if="${onevar=='Manajemen User'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/user/view-all}">Manajemen
                        User</a>
                </div>
                <div th:unless="${onevar=='Manajemen User'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/user/view-all}">Manajemen
                        User</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Rapat'} ? active"
                sec:authorize="hasAnyAuthority('ceo','finance','cs','socmed')">
                <div th:if="${onevar=='Rapat'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/rapat/viewall-rapat}">Rapat</a>
                </div>
                <div th:unless="${onevar=='Rapat'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/rapat/viewall-rapat}">Rapat</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Chart'} ? active"
                sec:authorize="hasAnyAuthority('ceo','finance')">
                <div th:if="${onevar=='Chart'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/chart}">Chart</a>
                </div>
                <div th:unless="${onevar=='Chart'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/chart}">Chart</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Daftar Pekerjaan'} ? active"
                sec:authorize="hasAnyAuthority('ceo','finance','cs','socmed')">
                <div th:if="${onevar=='Daftar Pekerjaan'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/pekerjaan/view-all}">Daftar
                        Pekerjaan</a>
                </div>
                <div th:unless="${onevar=='Daftar Pekerjaan'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/pekerjaan/view-all}">Daftar
                        Pekerjaan</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Ide Konten'} ? active"
                sec:authorize="hasAnyAuthority('ceo','socmed')">
                <div th:if="${onevar=='Ide Konten'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/konten/viewall}">Ide Konten</a>
                </div>
                <div th:unless="${onevar=='Ide Konten'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/konten/viewall}">Ide Konten</a>
                </div>
            </li>

            <li class="nav-item" th:classappend="${onevar == 'Daftar Pelanggan'} ? active"
                sec:authorize="hasAnyAuthority('ceo','cs')">
                <div th:if="${onevar=='Daftar Pelanggan'}">
                    <a class="nav-link font-weight-normal" style="color:#483018;" th:href="@{/pelanggan/viewall}">Daftar Pelanggan</a>
                </div>
                <div th:unless="${onevar=='Daftar Pelanggan'}">
                    <a class="nav-link font-weight-normal" style="color:#9D8872;" th:href="@{/pelanggan/viewall}">Daftar Pelanggan</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <div>
                    <a class="nav-item nav-link text-text-secondary" style="color: #483018"
                       th:href="@{/logout}">Logout</a>
                </div>
            </li>

            <li class="nav-item">
                <div>
                    <!--URL not set-->
                    <a class="nav-item nav-link text-text-secondary font-weight-normal"
                       style="color: #483018"
                       data-toggle="tooltip"
                       th:href="@{/user/profil}"><i class="fa-solid fa-user"></i><span th:text="'    '+ ${#authentication.getPrincipal().getUsername()}"></span></a>
                </div>
            </li>
        </ul>

    </div>
    <!-- Font Awesome and Bootstrap Related -->
    <script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>

</nav>
</body>

<!--<div class="container" style="background-color: #ffffff; ">-->
<footer th:fragment="footer" class="footer" style="background-color: #ffffff;  font-family: 'Raleway', sans-serif; ">
    <br>
    <br>
    <div class="justify-content-center col-5">
        <div class="text-left">
            <p style="margin-left: 5%">
                <img src="https://www.linkpicture.com/q/Logo-Gold-jawah-final.png" class="img-fluid"
                     style="max-width: 75px;">
            </p>
        </div>
        <p class="text-justify">
        <p style="margin-left: 5%; color:#9A9A9A">
            SIJAWAH hadir untuk membantu PT Jawah Sahabat Sehat Indonesia mengelola proses antar lini bisnis yang
            berhubungan dengan
            pelanggan lebih terintegrasi sehingga memudahkan proses bisnis PT Jawah Sahabat Sehat Indonesia.
        </p>
        </p>
    </div>

    <!-- Copyright -->
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
        <div class="justify-content-center col-5">
            <p class="text-justify">
            <p style="margin-left: 5%">
                <b>© 2023 Propensi: SIJAWAH - NewJeans (B05) | All rights reserved</b>
            </p>
        </div>
    </div>
</footer>

<!--</div>-->
</html>
