<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIJAWAH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Home')"></nav>
<div class="container-fluid min-vh-100" style="background-color: rgb(255, 240, 216); font-family: 'Raleway', sans-serif;">
  <h2>Anda tidak memiliki akses ke halaman ini</h2>
  <a th:href="@{/}">Kembali ke home</a>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>