<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216); font-family: 'Raleway', sans-serif;">
<nav th:replace="fragments/fragment :: navbar('Daftar Pelanggan')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center font-weight-bold" style="color: #363636;">Update Pelanggan</h2>
                <hr class="mt-3 mb-3"/>
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>



                <form th:action="@{/pelanggan/update}" th:object="${pelanggan}" method="POST">
                    <input type="hidden" th:field="*{uuid}" />

                    <h6 class="font-weight-bold">Nama</h6>
                    <input required class="form-control" type="text" placeholder="Nama" th:field="*{nama}"/>
                    <br>

                    <h6 class="font-weight-bold">Nomor Telepon</h6>
                    <input required class="form-control" type="text" placeholder="Nomor Telepon" th:field="*{nomorTelepon}"/>
                    <br>

                    <table class="table">
                        <th>
                            <h6>Daftar Produk Pembelian</h6>
                            <button class="btn btn-primary" type="submit" name="addRow">Tambah List Produk</button>
                        </th>
                        <tbody>
                        <tr th:each="jumlah, iterationStatus : *{listJumlah}">
                            <td>
                                <select th:field="*{listJumlah[__${iterationStatus.index}__].produk}" class="form-control js-example-basic-single">
                                    <div th:each="produkExist, iterationStatus2 : ${listProduk}">
                                        <option th:value="${produkExist.uuid}" th:text="${produkExist.nama}"></option>
                                    </div>
                                </select>
                            </td>
                            <td>
                                <input required class="form-control"
                                       th:field="*{listJumlah[__${iterationStatus.index}__].kuantitas}"
                                       type="number" />
                            </td>
                            <td>
                                <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"
                                        name="deleteRow">Hapus</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col text-right">
                        <button class="btn btn-primary" type="submit" name="save">Update Pelanggan</button>
                        <a class="btn btn-danger" th:href="@{/pelanggan/viewall}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
    });
</script>

</html>

