<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>

    <!-- Chart -->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css"
    />

    <style>
            @media only screen and (max-width: 992px) {
              .chart-container {
                margin-left:-5vw;
                position: relative;
              }
            }
        </style>

    <!-- CSS -->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>

    <style>
            th {
                border-top: 0!important;
            }
            a#viewall-rapat,
            a#viewall-rapat:active,
            a#viewall-rapat:visited {
                color: #D87818;
            }
            a#viewall-rapat:hover {
                color: #FFC048;
            }
            #page-heading {
                margin-top: 5rem!important;
                margin-bottom: 3.5rem!important;
            }
            @media only screen and (max-width: 992px) {
                #page-heading {
                    margin-bottom: 2.5rem!important;
                }
              }
            .border-left-primary {
                border-left: 0.25rem solid #4e73df!important;
            }
            .border-left-success {
                border-left: 0.25rem solid #1cc88a!important;
            }
            .border-left-info {
                border-left: 0.25rem solid #36b9cc!important;
            }
            .border-left-warning {
                border-left: 0.25rem solid #f6c23e!important;
            }
            .card {
                border-radius: 0.75rem!important;
            }
            .card-header {
                background-color: #D87818;
            }
            .card-header:first-child {
                border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0!important;
            }
            .progress-sm {
                height: 0.5rem;
            }
            .table thead th,
            .table tbody td {
                vertical-align:middle;
            }
            .text-primary {
                color: #4e73df!important;
            }
            .text-xs {
                font-size: .7rem;
            }
            .text-gray-800 {
                color: #5a5c69!important;
            }
        </style>
</head>

<body>
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar ('Home')"></nav>

    <!-- Content -->
    <div class="container">

        <!-- Page Heading -->
        <div id="page-heading" class="row justify-content-center mb-4" style="color:#483018; font-family: 'DM Serif Display'">
            <div class="col-lg-9 text-center">
                <p class="h5 mb-0" th:text="'Hi ' + ${name} + '!'"></p>
                <h1 class="display-3 my-2">Welcome to SIJAWAH</h1>
                <p class="h5">by PROPENSI B05</p>
            </div>
        </div>

        <!-- Content Row -->
        <div th:if="${role == 'finance' OR role == 'ceo'}" class="row" style="font-family: 'Raleway', sans-serif;">
            <!-- Total Pelanggan -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-primary text-uppercase mb-1" style="font-family: 'Raleway'"
                                >
                                    Total Pelanggan
                                </div>
                                <a th:href="@{/pelanggan/viewall}" class="stretched-link"></a>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalPelanggan}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-users fa-2x" style="color: #ffddb7"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Revenue -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-success text-uppercase mb-1" style="font-family: 'Raleway'"
                                >
                                    Total Revenue
                                </div>
                                <a th:href="@{/chart}" class="stretched-link"></a>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalRevenue}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x" style="color: #ffddb7"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress Pekerjaan -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-info text-uppercase mb-1" style="font-family: 'Raleway'"
                                >
                                    Progress Pekerjaan
                                </div>
                                <a th:href="@{/pekerjaan/view-all}" class="stretched-link"></a>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div
                                                class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                                th:text="${persentaseProgressPekerjaan} + '%'"
                                        >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div
                                                    class="progress-bar bg-info"
                                                    role="progressbar"
                                                    th:style="'width: ' + ${persentaseProgressPekerjaan} + '%'"
                                                    th:aria-valuenow="${persentaseProgressPekerjaan}"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-list-check fa-2x" style="color: #ffddb7"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Total Order -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-warning text-uppercase mb-1" style="font-family: 'Raleway'"
                                >
                                    Total Pembelian Produk
                                </div>
                                <a th:href="@{/chart}" class="stretched-link"></a>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalOrder}"></div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-basket-shopping fa-2x" style="color: #ffddb7"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content Row -->
        <div class="row mt-3" style="font-family: 'Raleway', sans-serif;">
            <!-- Jumlah Produk Terjual Chart -->
            <div th:if="${role == 'finance' OR role == 'ceo'}" class="col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                        <h6 class="m-0 font-weight-bold text-white">
                            Jumlah Produk Terjual
                        </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div class="chart-area">
                            <canvas style="width: 50vw;" id="myChart"></canvas>
                        </div>
                        <div class="align-self-end">
                            <a th:href="@{/chart}" id="default-chart" class="text-right small" style="padding-right: 0.75rem!important; color:#D87818; font-family: 'Raleway'">Explore More →</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Progress Pekerjaan -->
            <div th:if="${role == 'socmed' OR role == 'cs'}" class="col-xl-6 col-md-12 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div
                                        class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                >
                                    Progress Pekerjaan
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div
                                                class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                                                th:text="${persentaseProgressPekerjaan} + '%'"
                                        >
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm mr-2">
                                            <div
                                                    class="progress-bar bg-info"
                                                    role="progressbar"
                                                    th:style="'width: ' + ${persentaseProgressPekerjaan} + '%'"
                                                    th:aria-valuenow="${persentaseProgressPekerjaan}"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                            ></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-list-check fa-2x" style="color: #ffddb7"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Jadwal Rapat Mendatang -->
            <div th:if="${role != 'admin'}" th:class="${role == 'finance' OR role == 'ceo' ? 'col-lg-5' : 'col-lg-12'}" class="col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                    >
                        <h6 class="m-0 font-weight-bold text-white">
                            Jadwal Rapat Mendatang
                        </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body d-flex flex-column justify-content-center">
                        <div th:if="${jadwalRapatMendatang != null AND jadwalRapatMendatang.size() != 0}" class="table-responsive text-center small">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Nama Rapat</th>
                                    <th>Tanggal Rapat</th>
                                    <th>Waktu Rapat</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="rapat, iterationStatus : ${jadwalRapatMendatang}">
                                    <td th:text="${rapat.nama}"></td>
                                    <td th:text="${rapat.getTanggalRapat()}"></td>
                                    <td th:text="${rapat.getWaktuRapat()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <p th:unless="${jadwalRapatMendatang != null AND jadwalRapatMendatang.size() != 0}" class="text-center text-gray-800 mb-0">Belum ada jadwal rapat</p>
                        <a th:unless="${jadwalRapatMendatang != null AND jadwalRapatMendatang.size() != 0}" th:href="@{/rapat/ajuan/add}" id="form-add-pengajuan-rapat" class="text-center small" style="color:#D87818; font-family: 'Raleway'">Klik teks ini untuk ajukan rapat</a>


                        <div th:if="${jadwalRapatMendatang != null AND jadwalRapatMendatang.size() != 0}" class="align-self-end">
                            <a th:href="@{/rapat/viewall-rapat}" id="viewall-rapat" class="text-right small" style="padding-right: 0.75rem!important; color:#D87818; font-family: 'Raleway'">Explore More →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>

<!-- Chart -->
<script
        src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"
></script>
<script
        type="text/javascript"
        charset="utf8"
        src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
></script>

<!-- JS -->
<object th:include="fragments/fragment :: js" th:remove="tag"></object>

<!-- Chart -->
<script th:inline="javascript">
            /*<![CDATA[*/

            const listNamaProduk = /*[[${listNamaProduk}]]*/ "default";
            console.log(listNamaProduk);

            const labels = [];
            for (let i = 0; i < listNamaProduk.length; i++) {
                if (listNamaProduk[i].length > 30) {
                  labels[i] = listNamaProduk[i].substring(0, 30) + "...";
                }
            }
            console.log(labels);

            /*]]>*/
            /*<![CDATA[*/

            var listDataPenjualan = /*[[${listDataPenjualan}]]*/ "default";
            console.log(listDataPenjualan);

            let max = 0;
            for (let i = 0; i < listDataPenjualan.length; i++){
              if (listDataPenjualan.at(i)> max){
                max = listDataPenjualan.at(i);
              }
            }
            while (max %10 != 0){
              max+=1;
            }
            const data = {
              labels: labels,
              datasets: [
                {
                  label: "Jumlah produk terjual",
                  data: listDataPenjualan,
                  backgroundColor: [
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                  ],
                  borderColor:
                    '#850101'
                  ,
                  borderWidth: 1,
                },
              ],
            };
            const config = {
              type: "bar",
              data: data,
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      stepSize: (max > 10) ? max/10 : 1,
                    }
                  }],},
              },
            };
            const myChart = new Chart(document.getElementById("myChart"), config);
        </script>
</body>
</html>