<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous">
    </script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/papper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
<style>
body{
    /*background-color: #FFF0D8;*/
    background-image: url("https://www.linkpicture.com/q/background-Login-Page_1.png");
    background-repeat:no-repeat;
    background-size:cover;
}
    .split {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-right: 5%;
        padding-top: 20px;
    }

    .right {
        display: flex;
        right: -7vw;
        width: 55%;
        /*background-color: #FFF0D8;*/
    }

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 3vw;
        width: 45%;
        /*background-color: #FFC048;*/
        /*border-radius: 0px 50px 50px 0px;*/
        /*box-shadow: 0px 0px 50px 0px #263238;*/
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .lefted {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        text-align: left;
    }

    h1 {
        font-family: 'Raleway';
        font-weight: 900;
        color: #263238;
    }

    hr {
        height: 5px;
        border-width: 0;
        background-color: #92B885;
    }

    p {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 20px;
        color:#263238;
    }

    #kanan img {
        width: 200px;
        height: 116.43px;
    }

</style>
</head>
<body>
<div class="split left">
    <div style="justify-content: center; align-items: center; padding: 15px;">
        <img style="margin-bottom: 10px; justify-content: center; align-items: center" width="130px;" height="130px;" src="https://www.linkpicture.com/q/Logo-Gold-jawah-final.png">
        <br>
        <p style="margin: 0 0 0 0; font-size: 40px; color: #483018">Welcome to</p>
        <p style="margin: 0 0 0; font-size: 50px; color: #483018" >SIJAWAH
        </p>
        <br>
        <p style="font-size: 20px; color: #483018; font-family: 'DM Serif Display';">
        SIJAWAH: Sistem Informasi untuk PT JAWAH SAHABAT SEHAT INDONESIA dengan Fokus Customer Relation Management (CRM)
        </p>
    </div>
</div>
    <div style="justify-content: center; align-items: center" class="split right">
<div class="container-fluid text-center">
<!--     style="width: 100vw;"-->
    <div class="col-md-4">
        <div style="width: 60vh;
        /*height: 45vh;*/
        " class="card">
            <div class="card-body">
                <div th:if="${param.error}">
                    <span style="color: red">Invalid username and password.</span>
                </div>
                <h2 style="font-family: 'DM Serif Display';">Login SIJAWAH</h2>
                <br>
                <form th:action="@{/login}" method="POST">
                    <div class="row form-group">
                        <label style="margin-left: 30px; margin-right: 10px;" class="tes">Username:</label>
                        <input type="text" class="col-sm-8 form-control input-sm" name="username">
                    </div>

                    <div class="row form-group">
                        <label style="margin-left: 30px; margin-right: 15px;" class="tes">Password:</label>
                        <input type="password" class="col-sm-8 form-control inut-sm" name="password">
                    </div>
                    <div style="color: #D87818;"  class="row form-group justify-content-center">
                        <button style="background-color: #D87818;" type="submit" class="btn btn-primary">Sign In</button>
                    </div>
<!--                    Uncomment this div to activate sso-login feature-->
<!--                    <div>-->
<!--                        <a style="color: black; font-family: 'DM Serif Display';"-->
<!--                           th:href="@{/login-sso}"> Masuk sebagai Admin (SSO UI)</a>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
    </div>
<!--</div>-->
</body>
</html>
