<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Upload CSV</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216); font-family: 'Raleway', sans-serif;">
    <nav th:replace="fragments/fragment :: navbar('Daftar Pelanggan')"></nav>

    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 class="text-center font-weight-bold" style="color: #363636;">Upload Pelanggan</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

                    <form method="POST" th:action="@{/pelanggan/file-add}" enctype="multipart/form-data">
                        <input required type="file" name="file" class="form-control-file mt-5 mb-5" id="file" accept=".csv" style="padding-left: 40%">
                        <br>
                        <div class="col text-right mt-5">
                            <button class="btn btn-primary" type="submit">Upload Pelanggan</button>
                            <a class="btn btn-danger" th:href="@{/pelanggan/viewall}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>