<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <style>
        @media only screen and (max-width: 1000px) {
          .btn-text {
            display: none;
          }
        }



    </style>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636;font-family: 'DM Serif Display';"
                        th:text="'Hello, ' + ${user.nama}+'!'"></h2>
                    <div class="text-center">
                        <div th:if="${user.role == 'admin'}">
                            <i class="fa-solid fa-user-check fa-lg"></i><span style="font-size: 1.2rem;"
                                                                              th:text="'   Role: Administrator'"></span>
                        </div>
                        <div th:if="${user.role == 'ceo'}">
                            <i class="fa-solid fa-user-check fa-lg"></i><span style="font-size: 1.2rem;"
                                                                              th:text="'   Role: Chief Executive Officer'"></span>
                        </div>
                        <div th:if="${user.role == 'cs'}">
                            <i class="fa-solid fa-user-check fa-lg"></i><span style="font-size: 1.2rem;"
                                                                              th:text="'   Role: Customer Service'"></span>
                        </div>
                        <div th:if="${user.role == 'finance'}">
                            <i class="fa-solid fa-user-check fa-lg"></i><span style="font-size: 1.2rem;"
                                                                              th:text="'   Role: Finance'"></span>
                        </div>
                        <div th:if="${user.role == 'socmed'}">
                            <i class="fa-solid fa-user-check fa-lg"></i><span style="font-size: 1.2rem;"
                                                                              th:text="'   Role: Social Media Specialist'"></span>
                        </div>
                    </div>

                    <hr class="mt-3 mb-3"/>
                    <br>
                    <div class="row">
                        <div class="col text-center">
                            <div>
                                <i class="fa-solid fa-user fa-10x" style="color: #d87818;"></i>
                            </div>
                            <br>
                            <a class="btn btn-secondary text-white text-center font-weight-normal"
                               style="border-radius: 15px;"
                               data-toggle="tooltip" title="Update User"
                               th:href="@{/user/ubah-password}"><i class="fa-solid fa-user-pen fa-lg"></i><span
                                    style="font-size: 1.2rem;" class="btn-text"> Ubah Password</span></a>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <h5 class="font-weight-bold" style="color:#f29927;">Nama</h5>
                                    <h5 th:text="${user.nama}"></h5>
                                </div>
                                <div class="col">
                                    <h5 class=" font-weight-bold" style="color:#f29927;">Email</h5>
                                    <h5 th:text="${user.email}"></h5>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <h5 class=" font-weight-bold" style="color:#f29927;">Username</h5>
                            <h5 th:text="${user.username}"></h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Datatable Related -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script>
    $(document).ready(function () {
        $('#userTable').DataTable({
            responsive: true,
        });
    });










</script>
</html>
