<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SIJAWAH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
  <nav th:replace="fragments/fragment :: navbar('Daftar Pekerjaan')"></nav>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <a class="btn btn-light text-white font-weight-normal"
             style="background-color: #D87818; border-radius: 15px;"
             th:href="@{/rapat/viewall-rapat}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
          <br>
          <h2 class="text-center font-weight-bold" style="color: #363636; font-family: 'DM Serif Display';">
            Pembatalan Rapat</h2>
          <hr class="mt-3 mb-3"/>
          <br>
          <form th:action="@{/rapat/delete/}+${rapat.uuid}" method="POST">
            <div class="form-group row">
              <h6 class="col-sm-2 col-form-label font-weight-bold">
                Nama Rapat</h6>
              <div class="col-sm-10">
                <input readonly class="form-control-plaintext" id="nama" name="nama" th:value="${rapat.nama}"/>
              </div>
            </div>

            <div class="form-group row">
              <h6 class="col-sm-2 col-form-label font-weight-bold">
                Alasan Pembatalan</h6>
              <div class="col-sm-10">
                  <textarea required class="form-control" placeholder="Masukkan alasan pembatalan rapat"
                            rows="3" id="feedback" name="feedback"></textarea>
              </div>
            </div>
            <h7>Catatan: <span class="text-muted">Email akan secara otomatis terkirim jika rapat dibatalkan!</span></h7>
            <br>
            <div class="text-right">
              <button class="btn btn-primary" type="submit" name="save">Simpan</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>