<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SIJAWAH</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body style="font-family: 'Raleway', sans-serif;">
<div class="d-flex flex-column min-vh-100" style="background-color: rgb(255, 240, 216);">
    <nav th:replace="fragments/fragment :: navbar('Rapat')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <a class="btn btn-light text-white font-weight-normal"
                       style="background-color: #D87818; border-radius: 15px;"
                       th:href="@{/}"><i class="fa-solid fa-arrow-left-long"></i> Kembali </a>
                    <br>
                    <h2 class="text-center font-weight-bold" style="color: #363636;font-family: 'DM Serif Display';">Daftar Rapat</h2>
                    <hr class="mt-3 mb-3"/>
                    <div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div class="alert alert-success" role="alert" th:text="${batal}" th:if="${batal}"></div>
                    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                    <br>
                    <div>
                        <a class="btn btn-light text-white font-weight-normal"
                           style="background-color: #D87818; border-radius: 15px;"
                           th:href="@{/rapat/ajuan/add}"><i class="fa-solid fa-plus"></i> Ajukan Rapat Baru</a>
                        <a class="btn btn-light text-white font-weight-normal"
                           style="background-color: #D87818; border-radius: 15px;"
                           th:href="@{/rapat/viewall-pengajuan}"><i class="fa-solid fa-list-ul"></i> Daftar Pengajuan
                            Rapat</a>
                    </div>
                    <br><br>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                    type="button" role="tab" aria-controls="home" aria-selected="true">Akan Datang
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">Selesai
                            </button>
                        </li>
                    </ul>
                    <br>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="justify-content-center">
                                <table id="example" class="table table-hover">
                                    <thead style="background-color: #D87818;">
                                    <tr class="text-white font-weight-bold ">
                                        <th>No</th>
                                        <th>Nama Rapat</th>
                                        <th>Waktu Rapat</th>
                                        <th>PIC</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rapat, iterationStatus : ${listRapatComing}"
                                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${rapat.nama}"></td>
                                        <td th:text="${#temporals.format(rapat.waktu, 'dd MMMM yyyy HH:mm')}"></td>
                                        <td th:text="${rapat.pic.nama}"></td>
                                        <td>
                                            <div class="d-flex justify-content-start">
                                                <div>
                                                    <!--URL not set-->
                                                    <a class="btn btn-primary text-white font-weight-normal me-2"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Detail"
                                                       th:href="@{/rapat/}+${rapat.uuid}"><i class="fa-solid fa-magnifying-glass"></i><span
                                                            class="btn-text"> Detail</span></a>
                                                </div>
                                                <div>
                                                    <a th:if="(${role} == 'ceo')"
                                                       class="btn btn-warning text-white font-weight-normal me-2"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Update"
                                                       th:href="@{/rapat/update/} + ${rapat.uuid}"><i class="fa-solid fa-pen-to-square"></i><span class="btn-text"> Ubah</span></a>
                                                </div>
                                                <div>
                                                    <!-- Button trigger modal -->
                                                    <a th:if="${role} == 'ceo'"
                                                       type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+ ${rapat.uuid}"
                                                       class="btn btn-danger text-white font-weight-normal me-2"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Cancel"><i class="fa-solid fa-trash"></i><span
                                                            class="btn-text"> Batal</span></a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" th:attr="id=${rapat.uuid}" data-bs-backdrop="static"
                                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">Pembatalan Rapat</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Anda yakin ingin membatalkan rapat ini ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Tidak
                                                                    </button>
                                                                    <a type="button" class="btn btn-primary"
                                                                       th:href="@{/rapat/delete/}+${rapat.uuid}">Ya
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="justify-content-center">
                                <table id="example1" class="table table-hover">
                                    <thead style="background-color: #D87818;">
                                    <tr class="text-white font-weight-bold ">
                                        <th>No</th>
                                        <th>Nama Rapat</th>
                                        <th>Waktu Rapat</th>
                                        <th>PIC</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="rapat, iterationStatus : ${listRapatDone}"
                                        th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                                        <td th:text="${iterationStatus.count}"></td>
                                        <td th:text="${rapat.nama}"></td>
                                        <td th:text="${#temporals.format(rapat.waktu, 'dd MMMM yyyy HH:mm')}"></td>
                                        <td th:text="${rapat.pic.nama}"></td>
                                        <td>
                                            <div class="d-flex justify-content-start">
                                                <div>
                                                    <!--URL not set-->
                                                    <a class="btn btn-primary text-white font-weight-normal me-1"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Detail"
                                                       th:href="@{/rapat/}+${rapat.uuid}"><i class="fa-solid fa-magnifying-glass"></i><span
                                                            class="btn-text"> Detail</span></a>
                                                </div>
                                                <div>
                                                    <a th:if="(${role} == 'ceo')"
                                                       class="btn btn-warning text-white font-weight-normal me-2"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Update"
                                                       th:href="@{/rapat/update/} + ${rapat.uuid}"><i class="fa-solid fa-pen-to-square"></i><span class="btn-text"> Ubah</span></a>
                                                </div>
                                                <div>
                                                    <!-- Button trigger modal -->
                                                    <a th:if="${role} == 'ceo'"
                                                       type="button" data-bs-toggle="modal" th:attr="data-bs-target='#'+ ${rapat.uuid}"
                                                       class="btn btn-danger text-white font-weight-normal me-2"
                                                       style="border-radius: 15px;"
                                                       data-toggle="tooltip" title="Cancel"><i class="fa-solid fa-trash"></i><span
                                                            class="btn-text"> Batal</span></a>

                                                    <!-- Modal -->
                                                    <div class="modal fade" th:attr="id=${rapat.uuid}" data-bs-backdrop="static"
                                                         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel1">Pembatalan Rapat</h5>
                                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Anda yakin ingin membatalkan rapat ini ?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Tidak
                                                                    </button>
                                                                    <a type="button" class="btn btn-primary"
                                                                       th:href="@{/rapat/delete/}+${rapat.uuid}">Ya
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<!-- JQuery Related -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
<!-- Datatable Related -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
<!-- Font Awesome and Bootstrap Related -->
<script src="https://kit.fontawesome.com/63fcf160a9.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
         responsive: true,
        });
    });

</script>
<script>
    $(document).ready(function () {
    $('#example1').DataTable({
    responsive: true,
    });
    });

</script>

</html>